In [1]:
"""
    you can play around with the databse using this notebook
"""

import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
from app.database import SessionLocal, Base, engine
from app.models import *
from app import models
from app.utils import hash_password, reset_db

reset_db()

# db = SessionLocal()
# load_dotenv()
# DB_URL = "postgresql://dev:devpass@localhost:5432/clean-rating"

# engine = create_engine(DB_URL)

dropping all tables...
all tables dropped.
creating tables from models...
schema rebuilt.

In [2]:
# clear the db

db.query(ContestParticipation).delete()
db.query(GroupMembership).delete()
db.query(Contest).delete()
db.query(Group).delete()
db.query(User).delete()
db.query(Report).delete()
db.commit()

In [ ]:
# dev seed to populate db with dummies

default_pass = "devpass"

# users

In [3]:
# dummy entries to play around with :)


default_pass = "devpass"


# Users
u1 = User(user_id="u1", cf_handle="neverCompromise", trusted_score=(-69), hashed_password=hash_password(default_pass))
u2 = User(user_id="u2", cf_handle="weaponizedAutist", trusted_score=88, hashed_password=hash_password(default_pass))
u3 = User(user_id="u3", cf_handle="negative-xp", trusted_score=1939, hashed_password=hash_password(default_pass))
u4 = User(user_id="u4", cf_handle="misaki", trusted_score=1945, hashed_password=hash_password(default_pass))
u5 = User(user_id="u5", cf_handle="puru-puru-pururin", trusted_score=6000000, hashed_password=hash_password(default_pass))
u6 = User(user_id="u6", cf_handle="chimpanzee", trusted_score=420, hashed_password=hash_password(default_pass))
u7 = User(user_id="u7", cf_handle="roomtemperatureiq", trusted_score=420, hashed_password=hash_password(default_pass))
users = [u1, u2, u3, u4, u5, u6, u7]

# Groups
g1 = Group(group_id="g1", group_name="mope from the underground")
g2 = Group(group_id="g2", group_name="microdosing entropy")
groups = [g1, g2]


# Memberships
memberships = [GroupMembership(user=u1, group=g1, role=Role.admin, user_group_rating=0)]
for i in range(1, 5):
    memberships.append(GroupMembership(user=users[i], group=g1, role=Role.user, user_group_rating=0))
memberships.append(GroupMembership(user=users[5], group=g2, role=Role.admin, user_group_rating=0))    
memberships.append(GroupMembership(user=users[6], group=g2, role=Role.moderator, user_group_rating=0))    


# Contest
c1 = Contest(contest_id="c1", cf_contest_id=1942)
contests = [c1]

# Participations
parts = []
for i in range(5):
    parts.append(ContestParticipation(user=users[i], group=g1, contest=c1))
parts.append(ContestParticipation(user=users[5], group=g2, contest=c1))
parts.append(ContestParticipation(user=users[6], group=g2, contest=c1))

add = []
for i in users:
    add.append(i)
for i in groups:
    add.append(i)
for i in memberships:
    add.append(i)
for i in contests:
    add.append(i)
for i in parts:
    add.append(i)

db.add_all(add)
db.commit()

print("✅ devseed loaded")
db.close()

✅ devseed loaded

In [4]:
df = pd.read_sql("SELECT * FROM users", engine)
df

,user_id,role,cf_handle,internal_default_rated,trusted_score,hashed_password
0,u1,user,neverCompromise,True,-69,HmJ8nxCXbEOWvyVIjzV2sK+s8RHTrfMT/BFpgtAMO0QF6B...
1,u2,user,weaponizedAutist,True,88,XUPDIBJXU50yPZ51JY1uuROlLck05DFomNvIkdFQ3HDUpv...
2,u3,user,negative-xp,True,1939,NGaIkIOvpUY+zMn25jwvGioJcKdQAELFtMzkn/fK0o2+qo...
3,u4,user,misaki,True,1945,0fddlyY6xfkPtrRugwoLJ3pKYr6cY4QMFCAfdNNPLpc4pj...
4,u5,user,puru-puru-pururin,True,6000000,ebfopejztEyiddnlS9aPn4oAtPAV+E5iWCwUftoHAEmadz...
5,u6,user,chimpanzee,True,420,C4NFrJsj6tiRrCWdq52whm2j3e/15tGRcOIChH2iTu/Erj...
6,u7,user,roomtemperatureiq,True,420,8yF89xRqv0xutbSoOYHjYs1Zyij2nSYo3kICQDtGix3Rcv...

In [5]:
df = pd.read_sql("SELECT * FROM groups", engine)
df

  group_id                 group_name  is_private
0       g1  mope from the underground       False
1       g2        microdosing entropy       False

In [6]:
df = pd.read_sql("SELECT * FROM group_memberships", engine)
df

,user_id,group_id,role,user_group_rating,user_group_max_rating,is_pending_user,is_pending_group
0,u1,g1,admin,0,1500,False,False
1,u2,g1,user,0,1500,False,False
2,u3,g1,user,0,1500,False,False
3,u4,g1,user,0,1500,False,False
4,u5,g1,user,0,1500,False,False
5,u6,g2,admin,0,1500,False,False
6,u7,g2,moderator,0,1500,False,False

In [7]:
df = pd.read_sql("SELECT * FROM contest_participations", engine)
df
Access to the file was denied

The file at /home/evapilotno17/snap/code/191/.local/share/jupyter/runtime/jpserver-413724-open.html is not readable.

    It may have been removed, moved, or file permissions may be preventing access.

  user_id group_id contest_id user_group_rating_before user_group_rating_after
0      u1       g1         c1                     None                    None
1      u2       g1         c1                     None                    None
2      u3       g1         c1                     None                    None
3      u4       g1         c1                     None                    None
4      u5       g1         c1                     None                    None
5      u6       g2         c1                     None                    None
6      u7       g2         c1                     None                    None